.tooling/poc-dataweave6a56ff03-0542-4bca-8aa4-80bb7e76f597/poc-dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0bd30749-9425-46ba-b279-f0c1255c641c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="map-operation-flow" doc:id="4d360ac4-05a1-4785-8ff2-96673e951640" >
		<ee:transform doc:name="map operation" doc:id="f83934c5-1fb1-42db-8674-b1d78a5a61c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
['joe','pete','matt'] map {"$$":$}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="example1" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="mapObject-operator-flow" doc:id="19313dd5-403b-46dc-a153-119820021461" >
		<ee:transform doc:name="mapObject operator" doc:id="38b26c58-20a7-4fcc-92d1-80e79745f0e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	prices: payload.prices mapObject (value, key, index) -> {
		(key): (value+5) as Number {format: "##.00"}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="poc-dataweaveFlow" doc:id="32c70364-7781-401c-842a-d7f704d82a1f" >
		<set-payload value='#["Bhanagiri Bhagavan Reddy"]' doc:name="full name" doc:id="272afbb4-7e66-48dc-af81-cdf16a55f8d0" />
		<ee:transform doc:name="Reduce operator" doc:id="f6eb5cda-e8d9-4c6e-a5c6-c3ece2601bc2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	FullName:["Bhanagiri","Bhagavan","Reddy"] reduce ($$++" "++$),
	firstName: (payload splitBy(" "))[0],
	middleName: (payload splitBy(" "))[1],
	lastName: (payload splitBy(" "))[2]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="poc-dataweaveFlow1" doc:id="27fbac65-c06f-48aa-a9e4-5865e9e573b4" >
		<ee:transform doc:name="filter operator" doc:id="74527020-104a-441b-a493-63e2c6221f69" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	myexample:[1,2,3,4,5,6] filter(value, index) ->(value>4)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="poc-dataweaveFlow2" doc:id="a36f6973-597d-47e0-8727-ff25e80aca8c" >
		<ee:transform doc:name="set message property migration" doc:id="652a22d3-00b2-44e1-99d0-0104046dc7b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	
}]]></ee:set-payload>
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	'headers':{
		'key1':"string1",
		'key2':"string2"
	},
	'queryParams':{
		'key3':"string",
		'key4':"string2"
	}
}]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="poc-dataweaveFlow3" doc:id="8b6aa902-1fac-4133-be38-c9a30784fee4" >
		<http:listener doc:name="Listener" doc:id="35b224fe-383c-43a6-b876-be8d4b764f79" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="84a3b2ea-5316-46c3-9579-895bb878b159" />
	</flow>
</mule>
