poc-dataweave/src/main/mule/poc-dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="map-operation-flow" doc:id="4d360ac4-05a1-4785-8ff2-96673e951640" >
		<ee:transform doc:name="map operation" doc:id="f83934c5-1fb1-42db-8674-b1d78a5a61c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
['joe','pete','matt'] map {"$$":$}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="example1" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="mapObject-operator-flow" doc:id="19313dd5-403b-46dc-a153-119820021461" >
		<ee:transform doc:name="mapObject operator" doc:id="38b26c58-20a7-4fcc-92d1-80e79745f0e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	prices: payload.prices mapObject (value, key, index) -> {
		(key): (value+5) as Number {format: "##.00"}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
